<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title></title>
   <style>
       ul
       {
           list-style-type: none;
       }

   </style>
</head>
<body>
  <h1>Bucket: {{.Bucket}}</h1>

  <div class="files">
    <h2>Folder: {{.Folder}}</h2>
    <ul>
     <li>01</li>
     <li>02</li>
     <li>03</li>
     <li>04</li>
     <li>05</li>
   </ul>
  </div>

  <form method="POST" enctype="multipart/form-data">
    <label>File:
      <input type="file" name="file">
    </label>
    <input type="submit">
  </form>

</body>
</html>
